
  .adams-table {
    text-align:center;
    border-spacing: 2px;
    border-color: #ccc;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 1rem;
  }

  .adams-label {
    text-align: right;

  }

  .adams-field {
    text-align:left;
  }

  .adams-input {
    width: 100%;
    height:120%;
  }

  .adams-tr{
    border-top:4px solid transparent;
     border-bottom:4px solid transparent;
  }

  .adams-tr:hover{
    background-color: #fff;
    border-color: #fff;
  }

 
 .perfil_image {
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
  }
  
.perfil_image:hover {
    cursor: pointer;
}
  
  .perfil_image_table {
    border-radius: 50%;
    max-width: 10%;  
  }
  
  #perfil_name {
    margin-top: 8px;
    margin-left: 16px;
  }
  
  #pruebaF {
    color: rgb(230, 210, 210);
  }
  .table {
       text-align:center;
       border-spacing: 2px;
       border-color: #ccc;
       border-collapse: collapse;
       width: 100%;
       margin-bottom: 1rem;
       color: #212529;
  }
  
  #vote {
      border-radius: 2em;
      font-size: 11px;
      font-weight: 700;
      line-height: .99;
      min-height: 1em;
      min-width: 1em;
      padding: 3px 5px 2px;
      position: relative;
      text-shadow: none;
      display: inline-block;
      margin: 0;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      background-color: #326ca6;
      color: #fff;
  }
  
  
  
  #leyendaTR:first-child{ border-bottom: 1px solid #555;}
  
  tr {
      border-top:4px solid transparent;
      border-bottom:4px solid transparent;
      text-align: center;
  }
  
  tr:hover {
      background-color: #ccc;
      border-color: #ccc;
  }
  
  .filter-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      float: none;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  
  .filter-status {
      font-size: 13px;
      line-height: 18px;
      float: none;
      margin-bottom: 8px;
      margin-right: 8px;
      list-style: none;
      cursor: pointer;
  }
  
  .kind {
      cursor: pointer;
      vertical-align:middle;
  }
  .status {
      font-size: 11px;
      font-weight: 700;
      margin: 0;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      background-color: transparent;
  }
  
  .sort {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 2px;
  }
  
  .filter {
      display: inline;
      border: none;
      box-sizing: border-box;
      margin-right: 4px;
      min-width: 24px;
      border-radius: 3px;
      text-shadow: none;
      padding: 4px 10px;
      background: 0 0;
      line-height: 1.57142857em;
      text-decoration: none;
      color: #505F79;
      padding: 10px;
  }
  
  .filter:hover {
      background-color: #e6ecf7;
  }
  
  .filter[aria-pressed=true]{
      background-color: #505F79;
      color: #FFFFFF;
  }
  
  [laria_pressed=true]{
      color: #FFFFFF;
  }
  
  #newIssue {
    text-decoration: none;
    background-color: #e6ecf7;
    color: #505F79;
    padding: 10px;
    border-radius:5px;
    margin:10px;
    }
  
  #newIssue:hover {
      cursor: pointer;
      border-color: #3e7ae8;
      border: 1px;
  }
  
  #status-new {
      color: #59697a;
      border-radius: 3px;
      font-size: 11px;
      font-weight: 700;
      line-height: 99%;
      margin: 0;
      padding: 2px 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
  }
  
  #status-open {
      color: #59697a;
      border-radius: 3px;
      font-size: 11px;
      font-weight: 700;
      line-height: 99%;
      margin: 0;
      padding: 2px 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
          vertical-align: middle;
  
  }
  
  #status-on_hold {
      color: #edb81e;
      border-radius: 3px;
      font-size: 11px;
      font-weight: 700;
      line-height: 99%;
      margin: 0;
      padding: 2px 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
          vertical-align: middle;
  
  }
  
  #status-duplicate {
      color: #d66e17;
      font-size: 11px;
      font-weight: 700;
      line-height: 99%;
      margin: 0;
      padding: 2px 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
          vertical-align: middle;
  
  }
  
  #status-invalid {
      color: #d12f1f;
      font-size: 11px;
      font-weight: 700;
      line-height: 99%;
      margin: 0;
      padding: 2px 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
          vertical-align: middle;
  
  }
  
  #status-wontfix {
      color: #d12f1f;
      border-radius: 3px;
      font-size: 11px;
      font-weight: 700;
      line-height: 99%;
      margin: 0;
      padding: 2px 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
          vertical-align: middle;
  
  }
  
  #status-closed {
      color: #000;
      border-radius: 3px;
      font-size: 11px;
      font-weight: 700;
      line-height: 99%;
      margin: 0;
      padding: 2px 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
          vertical-align: middle;
  
  }
  
  #status-resolved {
      color: #51965f;
      border-radius: 3px;
      font-size: 11px;
      font-weight: 700;
      line-height: 99%;
      margin: 0;
      padding: 2px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
  }
  
  #watch {
      overflow: hidden;
      text-indent: -9999px;
      background-size: 16px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: inline-block;
      margin-top: 1px;
      width: 16px;
      height: 16px;
      cursor: pointer;
  }
  
  .index {
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857142857143;
  }

  .body {
    margin-left: 220px;
    color: #172B4D;
    margin-top: 0px,
  }
  
  :any-link {
      text-decoration:none;
      color: inherit;
  }
  :any-link:hover {
      background:transparent;
      color: inherit;
  }
  
  .issues .issues-toolbar {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
  }
  
  .leyenda {
      margin-bottom: 16px;
      text-align: center;
      margin-right: 200px;
  }
  
  .table_header {
      margin-left: -24px;
      width: 100%;
  
  }
  
  .header {
    box-sizing: border-box;
    display: border;
    margin-top: 0%,
  }

  .table_body {
          margin-left: -24px;
          width:100%;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          font-weight: normal;
          text-align: start;
          color: #0052CC;
          text-decoration: none;
          padding: 0.75rem;
          vertical-align: top;
          border-top: 1px solid #dee2e6;
  }
  
  .issuetitle {
      text-align: left;
  }

  .fullTitle {
    font-size: 2.5rem;
  }
  .clearfix::after {
      clear: both;
      content: '';
      display: block;
      height: 0;
      visibility: hidden;
  }
  
  .sidebar {
    
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #dce3ef;
    color: #175ac6;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } 
  

.raul-issue-attrs {
    border: 1px solid #DFE1E6;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}


.raul-noHover{
    pointer-events: none;
} 

.raul-issue-title{
    font-size: 1.71428571em;
    font-style: inherit;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 1.16666667;
    color: #172B4D;
}

.raul-user-name {
    font-weight: 700;
    color: #0052CC;
}

.raul-time-ago{
    font-size: 12px;
    color: #707070;
}

.raul-user-image {
    border-radius: 50%;
    margin-right: 10px;
}

.raul-button-primary{
    color: #FFF;
    background: #0052CC;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border: none;
    outline: 0;
    align-items: flex-start;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    height: 2.28571429em;
    line-height: 1.57142857em;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    border-top-left-radius: 3.01px;
    border-bottom-left-radius: 3.01px;
    border-top-right-radius: 3.01px;
    border-bottom-right-radius: 3.01px;
    margin: 3px;
    cursor: pointer;
}

.raul-button-primary2{
    padding: 7px;
    margin: 3px;
    color: #505F79;
    background: #F4F5F7;
    border: none;
    outline: 0;
    height: 2.28571429em;
    line-height: 1.57142857em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border: none;
    outline: 0;
    align-items: flex-start;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    height: 2.28571429em;
    line-height: 1.57142857em;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    border-top-left-radius: 3.01px;
    border-bottom-left-radius: 3.01px;
    border-top-right-radius: 3.01px;
    border-bottom-right-radius: 3.01px;
}

.raul-button-primary2:hover{
    border-color: #999;
    background: #EBECF0 !important;
    color: #505F79;
    border: none;
    outline: 0;
    height: 2.28571429em;
    line-height: 1.57142857em;
    text-decoration: none;
}

.raul-button-secondary{
    color: #505F79;
    text-decoration: none;
    font-size: 12px;
    list-style: none;
}

.raul-not-bold{
    font-weight: normal !important;
}

.raul-link-secondary:visited{
    color: #0052CC !important;
}

.raul-link-secondary{
    pointer-events: auto !important;
}
.raul-link-secondary:hover{
    background: white;
}

.raul-counter-active{
    background-color: #326ca6;
    color: #fff;
    border-radius: 2em;
    font-size: 11px;
    font-weight: 700;
    line-height: .99;
    min-height: 1em;
    min-width: 1em;
    padding: 3px 5px 2px;
    position: relative;
    text-shadow: none;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.raul-counter-inactive{
    background-color: #326ca6;
    color: #fff;
    border-radius: 2em;
    font-size: 11px;
    font-weight: 700;
    line-height: .99;
    min-height: 1em;
    min-width: 1em;
    padding: 3px 5px 2px;
    position: relative;
    text-shadow: none;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0,0,0,.2);
    white-space: nowrap;
}

.raul-title-status{
    margin: 2px 0 2px 5px;
    vertical-align: top;
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 99%;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.raul-like-a-link{
  cursor: pointer;
}

.raul-comment{
  margin: 2px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.2);
}

.raul-body{
  padding-top: 55px;
}
